# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**
* Introduction to Python
* Introdution to R
* Introdution to SQL
* Java
* C++

## Author:
Anees ul Mujtaba

1. Python
2. R
3. SQL
4. C++
5. Java

##### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Panda
3. Scipy
4. Matpotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|NumPy|          
|R Studio|
|GitHub|
--------

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
print("This a simple arithmetic expression to mutiply then add integers")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [14]:
print('This will convert 200 minutes to hours by diving by 60')
200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335