## My Learning in This Course

## Introduction 
#### From the beginging of the Course I learned a lot about data science and Data Science tools and now at the end of this course I am familiar with the data science definition and what data scientists do, what tools are used in data science and which tools are used mostly by data scientists.

# **Learning Objectives:**
* Introduction to Data Science Tools
* Introduction to Data Science Libraries
* Introduction to Python
* Introdution to R
* Introdution to SQL
* Java
* C++

## Author:
Anees ul Mujtaba

#### Data Science languages:
1. Python
2. R
3. SQL
4. C++
5. Java

#### Libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scipy
4. Matpotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|NumPy|          
|R Studio|
|GitHub|
|TensorFlow|
|Apache Hadoop|
|Apache Spark|
--------

In [6]:
print('Arithmetic expression examples')
(3*4)+5

Arithmetic expression examples

17

In [11]:
3*5

15

In [12]:
20/8

2.5

In [14]:
print('multiply and add numbers')
(3*5)+8

multiply and add numbers

23

In [15]:
print('This will convert 200 minutes to hours by diving by 60')
200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335